@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Manrope&display=swap");

:root {
    --main-color: #49A078;
    --accent-color: #8ECAAC;
    --light-color: #EEF8F3;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    /*font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;*/
}

.form input[type="text"],
.form input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.form input[type="submit"] {
    margin-top: 10px;
}

input[type="submit"] {
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
}

.form input[type="submit"]:hover {
    background: #6cf0c2;
}

.button-container {
    display: flex;
    justify-content: center;
}

.login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
    display: flex;
}

.error {
    color: red;
    font-size: 12px;
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

.Dashboard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    background-color: #f8f9fd;
}

.container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
}

.header {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background: var(--light-color);
    border-bottom: var(--main-color) 1px solid;
    padding: 10px 0;
}

.search-bar-wrapper {
    display: flex;
    flex-direction: row;
    width: 50%;
    background: var(--main-color);
    border-radius: 10px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #f8f9fd;
    border-radius: 10px;
    margin: 5px 5px 5px 7px;
    height: 30px;
}

.search-bar-wrapper form {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.search-bar-wrapper input[type="text"] {
    flex: 1;
    border: none;
    background: none;
}

.search-bar-wrapper input[type="text"]:focus {
    outline: none;
}

.search-btn {
    flex-basis: 100px;
    margin: 5px 0;
    justify-content: center;
    align-items: center;
    background: none;
    cursor: pointer;
    border: none;
}

.search-btn path {
    transition: color 0.3s ease;
}

.search-btn:hover path {
    transition: color 0.3s ease;
    color: black;
}

.filter-container {
    margin-left: 40px;
    max-width: 300px;
    flex-basis: 300px;
}

.filter-container, .cards-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    min-width: 0;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tags-container {
    display: flex;
    flex-direction: row;
    width: 59%;
    box-sizing: border-box;
    justify-content: stretch;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: 260px;
}

.Badge {
    display: flex;
    flex-direction: row;
    height: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color);
    border: var(--main-color) 1px solid;
    padding: 15px;
    margin: 3px;
    border-radius: 5px;
}

.Badge svg {
    margin-left: 10px;
}

.Badge path {
    color: var(--main-color);
    transition: color 0.3s ease-in-out;
}

.Badge:hover {
    cursor: pointer;
}

.Badge:hover path {
    color: black;
    transition: color 0.3s ease-in-out;
}

.Badge p {
    user-select: none;
    color: var(--main-color);
    font-family: Manrope, sans-serif;
}

input[type="checkbox"] {
    color: var(--main-color)
}


input[type="checkbox"]:before {
    content: "\2714";
    display: block;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
}

.checkbox-label {
    display: inline-flex;
    vertical-align: middle;
}


.cards-container {
    flex: 1;
}

.thumb {
    height: 25px;
    line-height: 25px;
    width: 25px;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    cursor: grab;
}

.horizontal-slider {
    margin: 10px;
    height: 25px;
}

.track-0, .track-1, .track-2 {
    top: 0;
    bottom: 0;
    background: saddlebrown;
    border-radius: 999px;
}

.track-0, .track-2 {
    background: #ddd;
}

.track-1 {
    background: #0f0;
}


.NumberCategory {
    margin: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.under-slider-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.under-slider-input input {
    display: flex;
    flex: 1;
    width: 30px;
    border: none;
    margin: 10px;
}

.under-slider-input input::-webkit-outer-spin-button,
.under-slider-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.under-slider-input input[type="number"] {
    -moz-appearance: textfield;
}

.right-container {
    flex: 1;
    max-width: 300px;
    /*background: #6cf0c2;*/
}

.pretty-button {
    background: none;
    border: var(--main-color) 1px solid;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.pretty-button:hover {
    cursor: pointer;
    background: var(--accent-color);
    transition: background-color 0.3s ease-in-out;
}

.pretty-button svg {
    margin-right: 5px;
}

.pretty-button path {
    color: var(--main-color);
}

.FacilityCard {
    width: 240px;
    height: 320px;
    margin: 30px;
    box-shadow: 0 0 7px rgba(103, 159, 133, 0.25);
    border-radius: 5px;
}

.FacilityCard img {
    width: 200px;
    height: 200px;
    margin: 20px 20px 0;
    border-radius: 5px;
}

.FacilityCard p {
    margin: 0;
    text-align: center;
}

.cards-grid {
    height: auto;
    width: auto;
}

.FacilityCard p.status {
    margin-top: 45px;
    margin-right: 10px;
    text-align: end;
    color: var(--main-color);
}

.Category h2 {
    margin-left: 10px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header-title {
    font-size: 24pt;
    margin: 24px;
}


.card-header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card-header-status {
    margin: 10px;
}

.card-dialog {
    width: 900px;
    overflow: visible;
}

.close-button {
    border: none;
    background: none;
    margin: 20px;
    cursor: pointer;
}

.close-button path {
    color: var(--main-color);
    transition: color 0.3s ease;
}

.close-button:hover path {
    color: black;
    transition: color 0.3s ease;
}

.overflow {
    overflow: visible !important;
    border-radius: 16px !important;
}

.card-tabs {
    position: absolute;
    top: -24px;
    margin-left: 24px;
}

.card-tab {
    background: var(--accent-color);
    padding: 0 10px;
    font-size: 12pt;
    /*text-color*/
    border: solid var(--accent-color) 1px;
    border-radius: 8px 8px 0 0;
}

.card-tab.selected {
    background: var(--main-color);
    border: solid var(--main-color) 1px;
}

.InfoPage {
    display: flex;
    flex-direction: row;
}

.media-container {
    flex: 1;
}

.media-container h2 {
    margin: 0;
}

.attribute-container {
    flex: 1;
    margin: 20px;
}

.InfoPage > table > tbody > tr > th, td {
    padding: 10px;
    text-align: center;
    width: 50%;
    /*background: red;*/
}

/*.InfoPage > table*/

.InfoPage > table {
    justify-content: center;
    align-items: center;
}

.label-icon-container {
    display: flex;
}

.icon-button {
    margin-left: 10px;
    height: 28px;
    width: 28px;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.icon-button-wide {
    padding: 0 30px;
    height: 28px;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.icon-button path, .icon-button-wide path {
    color: white;
    transition: color 0.3s ease;
}

.icon-button:hover path, .icon-button-wide:hover path {
    transition: color 0.3s ease;
    color: black;
}

.icon-button-wide {
}

.SolutionsPage {
    margin: 20px;
}

.SolutionsPage table {
    border-collapse: collapse;
}

.SolutionsPage table tr {
    border: 3px white solid;
}

.SolutionsPage th, td {
    text-align: start;
    padding: 10px;
}

.SolutionsPage table tr:first-child td:first-child {
    border-top-left-radius: 20px;
}

.SolutionsPage table tr:first-child td:last-child {
    border-top-right-radius: 20px;
}

.SolutionsPage table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}

.SolutionsPage table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}

.SolutionsPage tbody td {
    /*border: black 1px solid;*/
    /*border-radius: 40px;*/
}


.SolutionsPage tbody td {
    background: var(--light-color);
    /*border-radius: 20px;*/
}

.plus-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

/* Carousel */

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -ms-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
    opacity: .4;
    filter: alpha(opacity=40);
    position: absolute;
    z-index: 2;
    top: 20px;
    background: none;
    border: 0;
    font-size: 32px;
    cursor: pointer
}

.carousel .control-arrow:focus, .carousel .control-arrow:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
    margin: 0 5px;
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    content: ''
}

.carousel .control-disabled.control-arrow {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: inherit;
    display: none
}

.carousel .control-prev.control-arrow {
    left: 0
}

.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #fff
}

.carousel .control-next.control-arrow {
    right: 0
}

.carousel .control-next.control-arrow:before {
    border-left: 8px solid #fff
}

.carousel-root {
    outline: none
}

.carousel {
    position: relative;
    width: 100%
}

.carousel * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.carousel img {
    width: 100%;
    display: inline-block;
    pointer-events: none
}

.carousel .carousel {
    position: relative
}

.carousel .control-arrow {
    outline: 0;
    border: 0;
    background: none;
    top: 50%;
    margin-top: -13px;
    font-size: 18px
}

.carousel .thumbs-wrapper {
    margin: 20px;
    overflow: hidden
}

.carousel .thumbs {
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -ms-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative;
    list-style: none;
    white-space: nowrap
}

.carousel .thumb {
    -webkit-transition: border .15s ease-in;
    -moz-transition: border .15s ease-in;
    -ms-transition: border .15s ease-in;
    -o-transition: border .15s ease-in;
    transition: border .15s ease-in;
    display: inline-block;
    margin-right: 6px;
    white-space: nowrap;
    overflow: hidden;
    border: 3px solid #fff;
    padding: 2px
}

.carousel .thumb:focus {
    border: 3px solid #ccc;
    outline: none
}

.carousel .thumb.selected, .carousel .thumb:hover {
    border: 3px solid #333
}

.carousel .thumb img {
    vertical-align: top
}

.carousel.carousel-slider {
    position: relative;
    margin: 0;
    overflow: hidden
}

.carousel.carousel-slider .control-arrow {
    top: 0;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    margin-top: 0;
    padding: 5px
}

.carousel.carousel-slider .control-arrow:hover {
    background: rgba(0, 0, 0, 0.2)
}

.carousel .slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    -webkit-transition: height .15s ease-in;
    -moz-transition: height .15s ease-in;
    -ms-transition: height .15s ease-in;
    -o-transition: height .15s ease-in;
    transition: height .15s ease-in
}

.carousel .slider-wrapper.axis-horizontal .slider {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
    flex-direction: column;
    flex-flow: column
}

.carousel .slider-wrapper.axis-vertical {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex
}

.carousel .slider-wrapper.axis-vertical .slider {
    -webkit-flex-direction: column;
    flex-direction: column
}

.carousel .slider {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    width: 100%
}

.carousel .slider.animated {
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out
}

.carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center
}

.carousel .slide img {
    width: 100%;
    vertical-align: top;
    border: 0
}

.carousel .slide iframe {
    display: inline-block;
    width: calc(100% - 80px);
    margin: 0 40px 40px;
    border: 0
}

.carousel .slide .legend {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -45%;
    width: 90%;
    border-radius: 10px;
    background: #000;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    opacity: 0.25;
    -webkit-transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -ms-transition: opacity .35s ease-in-out;
    -o-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out
}

.carousel .control-dots {
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    width: 100%;
    z-index: 1
}

@media (min-width: 960px) {
    .carousel .control-dots {
        bottom: 0
    }
}

.carousel .control-dots .dot {
    -webkit-transition: opacity .25s ease-in;
    -moz-transition: opacity .25s ease-in;
    -ms-transition: opacity .25s ease-in;
    -o-transition: opacity .25s ease-in;
    transition: opacity .25s ease-in;
    opacity: .3;
    filter: alpha(opacity=30);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
    background: #fff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    cursor: pointer;
    display: inline-block;
    margin: 0 8px
}

.carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.carousel .carousel-status {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    color: #fff
}

.carousel:hover .slide .legend {
    opacity: 1
}

.image-container div.label-icon-container {
    margin-bottom: 5px;
}

.documents-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.documents-container li > div {
    margin: 5px 0;
    align-items: center;
}

.map-container {
    margin: 20px;
}